html, body {
    height: 100%;
    width:  100%;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: Helvetica, sans-serif;;
    overflow: hidden;
     /*overflow-x: hidden;*/
}






#representacion_3D{
    height: 100%;
    width: 100%;
}
#representacion_arbolDeLlamadas{
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background:rgba(255,255,255,.3);
    z-index: 9;
    color:#fff;
}
#representacion_arbolSintactico{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 60%;
    background:rgba(255,255,255,.3);
    z-index: 9;
    color:#fff;
    overflow: auto;
}
#representacionarreglo1{
    position: absolute;
    right: 500px;
    top: 0;
    width: 200px;
    height: 100px;
    background:rgba(255,255,255,.3);
    z-index: 9;
    color:#fff;
}
#representacionarreglo2{
    position: absolute;
    right: 700px;
    top: 0px;
    width: 200px;
    height: 100px;
    background:rgba(255,255,255,.3);
    z-index: 9;
    color:#fff;
}
#infonodo_as{
    position: absolute;
    right: 500px;
    top: 200px;
    width: 500px;
    height: 300px;
    background:rgba(255,255,255,.3);
    z-index: 9;
    color:#fff;
}






#editor{
    position : absolute;   
    height   : 100%;
    border   : solid 1px #fff;
}

.CodeMirror-selected  { background-color:transparent !important;}/*Remplazando el estilo original*/

.CodeMirror-selectedtext { background-color: #49483E !important;}/*Clase nueva, estilo para este tema*/

/**************************************************
*  CodeMirror Base
***************************************************/
/*  Abarcara en alto el 100% de su contenedor (#editor)  */
    .CodeMirror{    
        height   : 100%;
    }
/*  icono de error y tooltop sobre el icono  */
    .CodeMirror-my-markers{
        width: 6px;
    }
    .CodeMirror-my-mark-error.lock{
        color: orange;
    }
    .CodeMirror-my-mark-error {
        position: relative;
        display: inline-block;
        color: red;
        margin-left: 5px;
    }
    .CodeMirror-my-mark-error .CodeMirror-my-mark-tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
    }
    .CodeMirror-my-mark-error:hover .CodeMirror-my-mark-tooltiptext {
        visibility: visible;
    }

/*  ToolTip sobre el texto marcado  (indica si esa linea ya se ejecuto o se ejecutara) */
    .EditorTooltipMarcatexto{
        display: inline;
        position: relative;
    }
    .EditorTooltipMarcatexto:hover:after{
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 6px;
        bottom: 10px;
        color: #fff;
        font-family: "Times New Roman", Times, serif;
        font-size: 16px;
        content: attr(title);
        left: 20%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
    }
